{% extends 'base.html' %}

{% block title_text %}IBM主机创新俱乐部{% endblock %}

{% block stylesheet %}/static/index.css{% endblock %}

{% block body %}
    <div class="onepage">
        <div class="onepage-bg" id="onepagebg">
            <div class="container">
                <div class="starter">
                    <h1>IBM主机创新俱乐部</h1>
                    <br>
                    <p class="lead">
                        俱乐部是由华南理工大学软件学院、华南理工大学主机教育创新中心发起,
                        由对IBM公司的技术和运营感兴趣的华南理工大学软件学院学生筹建的非盈利性的技术性学生社团,
                        是一个以服务全体华工学子为目的、独立运作的学生组织。
                    </p>
                    <br>
                    <p class="btn-app-store">
                        <a class="btn btn-info btn-lg" href="learnmore/">了解更多 &raquo;</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-success btn-lg" href="join/">加入我们 &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}