<!DOCTYPE html>
<html>
   <!--head>
      <title>Bootstrap 模板</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
	  
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

 
      
   </head-->
   <head>
   <meta charset="utf-8">
   <title>bootstrap测试</title>
   <link href="../static/bootstrap.min.css" rel="stylesheet" />
</head>
   <body>
   

	  
      <nav class="navbar navbar-default navbar-fixed-top" style="background-color:white">
  <div class="container-fluid" style="line-height:35px;">

    <h3 class="navbar-text" style="float:left" >CodeHub</h3>

  <!--button type="button" class="btn btn-default">username</button-->
  

	<p class="navbar-text" style="font-family:arial;color:black;float:right">username  <a href="#" class="navbar-link">退出</a></p>
  </div>
</nav>
 <br>
 <br>
 <br>
 <div class="panel panel-default" style="background-color:GhostWhite">
  <div class="panel-body">
		<div class="panel panel-info">
  <div class="panel-heading" style="background-color:white">

	<br>
	<p style="font-family:arial;color:black;font-size:20px;"> <a href="#">username</a> / <a href="#">projectname</a></p>
<hr>项目描述
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="code.html">代码</a></li>
  <li role="presentation"><a href="commit.html">提交记录</a></li>
  <li role="presentation"><a href="branch.html">分支</a></li>
  <li role="presentation"><a href="member.html">项目成员</a></li>
</ul>
<br>



<div class="dropdown" style="float:left">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Master
					<span class="caret"></span>
		</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">dev-1</a></li>
				<li><a href="#">dev-2</a></li>
				<li><a href="#">dev-3</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
</div>
<div class="btn-group" role="group" aria-label="..." style="float:right">
  <button type="button" class="btn btn-default"><a href="code_new.html">新建</a></button>
  <button type="button" class="btn btn-default">上传</button>
  <button type="button" class="btn btn-default">下载</button>
</div>
<br>
<br>
<br>
<table class="table">
	<tr>
	<td>README.md</td>
	<td style="text-align:right">1个月前</td>
	<td >username</td>
	<td >Initial commit</td>
	</tr>
	<tr>
	<td><a href="code_file.html">newfile</a></td>
	<td style="text-align:right">8天前</td>
	<td >username</td>
	<td >commit a newfile</td>
	</tr>
</table>

  </div>
  
  

</div>
 
 </div>
</div>
 
 
 <script src="../static/jquery.min.js"></script>
   <script src="../static/bootstrap.min.js"></script>

   </body>
</html>