{% load staticfiles %}
<html lang="en">
    <head>
		<meta charset="utf-8">
		<title>CodeHub</title>
         <link href="/static/Img/ele.jpg" rel="shortcut icon">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="Perfect Point Marketing">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Color Pickr -->
{#        <link href="/static/mainPage/includes/color-pickr/color-pickr.css" rel="stylesheet">#}
        <!-- Bootstrap -->
        <link href="/static/mainPage/includes/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- WOW JS Animation -->
		<link rel="stylesheet" href="/static/mainPage/includes/wow-js/animations.css" />
		<!-- Litebox  -->
		<link rel="stylesheet" href="/static/mainPage/includes/litebox/litebox.css" />
		<!-- Owl Carousel -->
		<link rel="stylesheet" href="/static/mainPage/includes/owl-carousel/owl.carousel.css" />
        <!-- custom css -->
        <link href="/static/mainPage/css/style.css" rel="stylesheet" type="text/css" media="screen">
        <link href="/static/mainPage/css/media.css" rel="stylesheet" type="text/css" media="screen">
        <!-- font awesome for icons -->
        <link href="/static/mainPage/includes/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
		<!-- Favicons -->
{#		<link rel="apple-touch-icon-precomposed" href="/static/mainPage/apple-touch-icon-precomposed.png">#}
{#		<link rel="icon" href="/static/mainPage/favicon.ico">#}

		<!--[if lte IE 8]>
			<link rel="stylesheet" type="text/css" href="css/fucking-ie-8-and-lower.css" />
		<![endif]-->



		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="body">

		<div id="preloader">
			<div class="spinner">
				<div class="cube"></div>
				<div class="cube"></div>
				<div class="cube"></div>
				<div class="cube"></div>
				<div class="cube"></div>
				<div class="cube"></div>
				<div class="cube"></div>
				<div class="cube"></div>
				<div class="cube"></div>
			</div>
		</div><!--preloader end-->


		<section id="home">
			<div data-velocity="-.3" class="home-parallax"></div>
			<div class="home-overlay"></div>

			<div class="welcome-text">
				<div class="container">
					<h2 class="wow animated fadeInDown">CodeHub Is Coming</h2>
					<!--
					<p class="wow animated fadeInUp">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer</p>

					<div class="social-bookmark animated bounceInLeft">
						<a class="animated fadeInDown" href=""><i class="fa fa-facebook-square"></i></a>
						<a href=""><i class="fa fa-twitter-square"></i></a>
						<a href=""><i class="fa fa-linkedin-square"></i></a>
						<a href=""><i class="fa fa-google-plus-square"></i></a>
						<a href=""><i class="fa fa-youtube-square"></i></a>
						<a href=""><i class="fa fa-instagram"></i></a>
						<a href=""><i class="fa fa-flickr"></i></a>
					</div>-->
				</div>
			</div>
		</section><!--home section end-->

        <nav id="navigation">
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Code <span>Hub</span></a>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-right">
							<li><a href="{% url 'home' %}">俱乐部主站</a></li>
                            <li><a href="#home">首&nbsp;页</a></li>
                            <li><a href="#about">关&nbsp;于</a></li>
                            <!--<li><a href="#features">Features</a></li>-->
                            <li><a href="#features">仓&nbsp;库</a></li>
                            <!--<li><a href="#portfolio">Portfolio</a></li>-->
                            <li><a href="#portfolio">组&nbsp;织</a></li>
                            <!--<li><a href="#testimonials">Testimonials</a></li>-->
                            <li><a href="#testimonials">用&nbsp;户</a></li>
                            <li><a href="#us">关于我们</a></li>
                            <!--
                            <li><a href="#our-team">Team</a></li>
                            <li><a href="#pricing">Pricing</a></li>
                            <li><a href="#blog">Blog</a></li>
                            <li><a href="#contact">Contact</a></li>
                        -->
                        </ul>

                    </div><!--/.nav-collapse -->
                </div><!--/.container -->
            </div><!--navbar-default-->
        </nav><!--navigation section end here-->

		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow animated fadeInUp">
						<h2 class="page-title">New Hub, New CodeHub!</h2>
						<h4>CodeHub 是华南理工大学软件学院&nbsp;IBM&nbsp;主机创新俱乐部的托管仓库</h4>

						<h4>欢迎所有的俱乐部会员加入并使用！</h4>
						<h4>CODEHUB</h4>

                        <br>
                        <br>
                        <br>
                        <br>
					<p><a href="{% url 'hub:login' %}" class="btn btn-filled">登&nbsp;录</a> <a href="{% url 'hub:register' %}" class="btn btn-bordered">注&nbsp;册</a></p>

					</div>

					<div class="col-md-6 wow animated fadeInUp">
						<img class="img-responsive" src="/static/mainPage/img/demo-images/ele.jpg" alt="" />
					</div>
				</div>
			</div>
		</section>

		<section id="features" class="section-padding">
			<div data-velocity="-.1" class="features-bg"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 wow animated fadeInLeft"  data-wow-duration="700ms" data-wow-delay="100ms">
						<div class="features-item">
							<!--<i class="fa fa-arrows"></i>-->
							<i class="fa fa-tasks"></i>
							<h2>学习资料</h2>
							<p>永久保存</p>
						</div>
					</div><!--feature col end-->
					<div class="col-md-4 col-sm-6 wow animated fadeInLeft"  data-wow-duration="700ms" data-wow-delay="200ms">
						<div class="features-item">
							<!--  <i class="fa fa-eye"></i>-->
							<i class="fa fa-tasks"></i>
							<h2>Java/Python/C++</h2>
							<p>编程天地</p>
						</div>
					</div><!--feature col end-->

					<div class="col-md-4 col-sm-6 wow animated fadeInLeft"  data-wow-duration="700ms" data-wow-delay="300ms">
						<div class="features-item">
							<!-- <i class="fa fa-magic"></i> -->
							<i class="fa fa-tasks"></i>
							<h2>Demo</h2>
							<p>随意托管你的项目</p>
						</div>
					</div><!--feature col end-->

					<div class="col-md-4 col-sm-6 wow animated fadeInLeft"  data-wow-duration="700ms" data-wow-delay="400ms">
						<div class="features-item">
							<!-- <i class="fa fa-adjust"></i> -->
							<i class="fa fa-tasks"></i>
							<h2>hello</h2>
							<p>world</p>
						</div>
					</div><!--feature col end-->

					<div class="col-md-4 col-sm-6 wow animated fadeInLeft"  data-wow-duration="700ms" data-wow-delay="500ms">
						<div class="features-item">
							<!-- <i class="fa fa-tasks"></i> -->
							<i class="fa fa-tasks"></i>
							<h2>123</h2>
							<p>i love you</p>
						</div>
					</div><!--feature col end-->

					<div class="col-md-4 col-sm-6 wow animated fadeInLeft"  data-wow-duration="700ms" data-wow-delay="600ms">
						<div class="features-item">
							<!-- <i class="fa fa-rocket"></i> -->
							<i class="fa fa-tasks"></i>
							<h2>how to have a friend</h2>
							<p>don't come in if you are single.</p>
						</div>
					</div><!--feature col end-->

					<div class="col-md-4 col-sm-6 wow animated fadeInLeft"  data-wow-duration="700ms" data-wow-delay="700ms">
						<div class="features-item">
							<!-- <i class="fa fa-code"></i> -->
							<i class="fa fa-tasks"></i>
							<h2>分享</h2>
							<p>share your ideas here!</p>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 wow animated fadeInLeft"  data-wow-duration="700ms" data-wow-delay="800ms">
						<div class="features-item">
							<i class="fa fa-tasks"></i>
							<h2>创新</h2>
							<p>always be innovative!</p>
						</div>
					</div><!--feature col end-->

					<div class="col-md-4 col-sm-6 wow animated fadeInLeft"  data-wow-duration="700ms" data-wow-delay="900ms">
						<div class="features-item">
							<i class="fa fa-tasks"></i>
							<h2>收获</h2>
							<p>do not forget taking what you what!</p>
						</div>
					</div><!--feature col end-->

				</div>
			</div>
		</section>


		<section id="portfolio" class="section-padding">
            <div class="container">
				<div class="row wow animated fadeInDown">
					<div class="col-md-12 text-center hero-title">
						<i class="fa fa-plane"></i>
						<h2 class="page-title">组织</h2>
						<h5>在这里可以加入你的成员，建立共同开发的组织 </h5>
					</div><!--hero title end-->
				</div>

                <div class="row">
                    <div class="col-md-12 wow animated fadeInUp">
                        <ul class="portfolio-filters text-center">
                            <li class="filter " data-filter="*">添加成员</li>
                            <li class="filter" data-filter=".design">删除成员</li>
                           <!--  <li class="filter" data-filter=".html">HTML5</li>
                            <li class="filter" data-filter=".wordpress">Wordpress</li>
                            <li class="filter" data-filter=".seo">Seo</li> -->
                        </ul><!--.portfolio-filter nav-->

                        <div id="portfolio_list" class="row">

						
							</div><!--portfolio col end--> -->
                        </div><!--#grid for filter items-->
                    </div><!--.col-md-12 of portfolio filter-->
                </div><!--.row-->
            </div>
        </section><!--work-->


		<section id="testimonials" class="section-padding">
			<div class="container">
				<div class="row wow animated fadeInDown">
					<div class="col-md-12 text-center hero-title">
						<i class="fa fa-quote-left"></i>
						<h2 class="page-title">用户个人空间</h2>
						<h5>在这里可以进行你的git操作</h5>
					</div><!--hero title end-->
				</div>

				<ul class="portfolio-filters text-center">
                            <!-- <li class="filter active" data-filter="*">你的仓库</li>
 -->

                           <!--  <li class="filter" data-filter=".html">HTML5</li>
                            <li class="filter" data-filter=".wordpress">Wordpress</li>
                            <li class="filter" data-filter=".seo">Seo</li> -->
                        </ul><!--.portfolio-filter nav-->
                        <ul class="portfolio-filters text-center">
                            <li class="filter" data-filter="*">代码</li>
                            <li class="filter" data-filter=".design">上传</li>
                            <li class="filter" data-filter=".design">下载</li>
                            <li class="filter" data-filter=".design">编辑</li>
                            <li class="filter" data-filter=".design">记录</li>
                            <li class="filter" data-filter=".design">设置</li>
                            <li class="filter" data-filter=".design">更多</li>
                        </ul><!--.portfolio-filter nav-->
						</div>
		</section>

		<section id="us" class="section-padding">
            <div class="container">
				<div class="row wow animated fadeInDown">
					<div class="col-md-12 text-center hero-title">
						<i class="fa fa-plane"></i>
						<h2 class="page-title">CodeHub Team</h2>
						<h5>扫描下面加入我们 </h5>
					</div><!--hero title end-->
				</div>

                <div class="row">
                    <div class="col-md-12 wow animated fadeInUp">
                        <ul class="portfolio-filters text-center">
                            <img src="/static/mainPage/img/forthQQGroup.jpg" width="250px" height="45px" class="img-thumbnail">
                      
                        </ul><!--.portfolio-filter nav-->

                    
                    </div><!--.col-md-12 of portfolio filter-->
                </div><!--.row-->
            </div>
        </section><!--work-->
        <!--scripts and plugins -->
        <!--must need plugin jquery-->
        <script src="/static/mainPage/js/jquery.min.js"></script>
        <!--bootstrap js plugin-->
        <script src="/static/mainPage/includes/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

		<!--easying scroll effect-->
		<script src="/static/mainPage/js/jquery.easing.1.3.min.js" type="text/javascript"></script>
		<script src="/static/mainPage/js/jquery.sticky.js" type="text/javascript"></script>
		<script src="/static/mainPage/js/jquery.nav.js" type="text/javascript"></script>
		<!--owl carousel-->
		<script src="/static/mainPage/includes/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
		<!--wow animation-->
		<script src="/static/mainPage/includes/wow-js/wow.min.js" type="text/javascript"></script>



		<!--Opacity & Other IE fix for older browser-->
		<!--[if lte IE 8]>
			<script type="text/javascript" src="js/ie-opacity-polyfill.js"></script>
		<![endif]-->


		<!--parallax-->
		<script src="/static/mainPage/js/jquery.scrolly.js" type="text/javascript"></script>
		<!--portfolio-filter-->
		<script src="/static/mainPage/js/isotope.pkgd.min.js" type="text/javascript"></script>
		<!--lightbox-->
		<script src="/static/mainPage/includes/litebox/images-loaded.min.js" type="text/javascript"></script>
		<script src="/static/mainPage/includes/litebox/litebox.min.js" type="text/javascript"></script>
		<!--project count-->
		<script src="/static/mainPage/js/jquery.counterup.min.js" type="text/javascript"></script>
		<!--custom scrollbar-->
		<script src="/static/mainPage/js/jquery.nicescroll.min.js" type="text/javascript"></script>
		<!--Contact Form-->
		<script src="/static/mainPage/includes/contact-form/app.js" type="text/javascript"></script>
		<script src="/static/mainPage/includes/contact-form/validatr.js" type="text/javascript"></script>

		<!--customizable plugin edit according to your needs-->
		<script src="/static/mainPage/js/custom.js" type="text/javascript"></script>
    </body>
</html>
