{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
	<title>CodeHub</title>
         <link href="/static/Img/ele.jpg" rel="shortcut icon">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/static/projectCatalog/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/projectCatalog/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/projectCatalog/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/static/projectCatalog/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/static/projectCatalog/assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="/static/projectCatalog/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	//<link rel="apple-touch-icon" sizes="76x76" href="/static/projectCatalog/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/projectCatalog/assets/img/favicon.png">
	<style type="text/css">
		.row{
			/*background-color: red;*/
			margin: 20px;
		}
		.page-header{
			font-size: 30px;
			margin: 20px;

		}
	</style>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
{#				<a href="index.html"><img src="/static/projectCatalog/assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>#}
							<a href="index.html"><img src="/static/Img/codehubLogo.png"height="21px" width="120px"  alt="Klorofil Logo" class="img-responsive logo"></a>

            </div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="寻找项目...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>退出</span></a>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">


						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/projectCatalog/assets/img/user.png" class="img-circle" alt="Avatar"> <span>{{request.session.user_name}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="projectCatalog.html" class=""><i class="lnr lnr-home"></i> <span>我的项目</span></a></li>
						<li><a href="user_record.html" class="active"><i class="lnr lnr-code"></i> <span>动态</span></a></li>

					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->

		<div class="main">
			<div class="page-header">

				<strong>我的项目动态</strong>

			</div>

            <div>
                <ul class="list-group">
                    {% for rect in rec_det %}
                        <a class="list-group-item list-group-item-info" href="#"><span>{{ rect.commit_time }}</span> &nbsp&nbsp&nbsp&nbsp
                            <span >{{ rect.user_name}}</span> &nbsp&nbsp&nbsp&nbsp <span>{{ rect.description }}</span></a>
                    {% endfor %}
                </ul>
            </div>

		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">Copyright &copy; 2017.Company name All rights reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->s
	<!-- Javascript -->
	<script src="/static/projectCatalog/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/static/projectCatalog/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/projectCatalog/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/static/projectCatalog/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="/static/projectCatalog/assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="/static/projectCatalog/assets/scripts/klorofil-common.js"></script>
</body>

</html>
